::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:increment,
::-webkit-scrollbar-thumb:decrement {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}