@font-face {
  font-family: "iconfont"; /* Project id 3364731 */
  src: url('iconfont.woff2?t=1653324021722') format('woff2'),
       url('iconfont.woff?t=1653324021722') format('woff'),
       url('iconfont.ttf?t=1653324021722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unlock:before {
  content: "\e703";
}

.icon-lock:before {
  content: "\e6e6";
}

.icon-FIXED-copy:before {
  content: "\e9fe";
}

.icon-FIXED:before {
  content: "\e9fd";
}

.icon-group:before {
  content: "\e7ee";
}

.icon-field:before {
  content: "\e6cb";
}

.icon-invisible:before {
  content: "\e63e";
}

.icon-visible:before {
  content: "\e66f";
}

.icon-plus:before {
  content: "\e602";
}

.icon-Minus:before {
  content: "\e66d";
}

.icon-expand:before {
  content: "\e794";
}

.icon-empty:before {
  content: "\e600";
}

.icon-collapese:before {
  content: "\e861";
}

.icon-trash:before {
  content: "\e738";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-ascending:before {
  content: "\e744";
}

.icon-descending:before {
  content: "\e74c";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-filter:before {
  content: "\e672";
}

