.o_web_client{
    overflow: hidden;
}
.o_thead_extra_container{
    position: absolute;
    left: 5000px;
    top: 5000px;
    width: 100%;
    > div{
        border-left: 1px solid #dfdfdf;
        padding: 0.3rem;
        border-top: 1px solid #dee2e6;
        color: #4c4c4c;
        font-weight: 700;
        display: inline-block;
        position: relative;

        &:after{
            margin-left: 6px;
            content: "\f0d7";
            opacity: 0;
        }

        span{
            bottom: 0;
            cursor: col-resize;
            position: absolute;
            right: 0;
            top: 0;
            width: 10px;
            z-index: 1;
        }
    }
}